.blue .radio_option {
    margin-bottom: 3px;
    display: table;
    position: relative;
    padding-right: 15px;
}

.blue .radio_option_circle {
    border: 1px solid black;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 7px;
    cursor: pointer;
    position: relative; /* For help button */
    margin-right: 5px;
    transition: background 0.15s ;
}

.blue .radio_option_label {
    display: inline-block;
}

.blue .radio_option.selected .radio_option_circle {
    background-color: dodgerblue;
}

.blue .radio_option.feedforward_selected .radio_option_circle {
    background-color: #33c5ff;
}

.blue .radio_option.selected.feedforward_deselected .radio_option_circle {
    background-color: darkgrey;
}

.blue .radio_option #limbo_what_if {

}

.blue .radio_option #limbo_what_if:before {
    top: -25px;
    left: 1px;

    border-width: 12px;
    border-left-width: 4px;
    border-right-width: 10px;
}

.blue .radio_option #help_button {
    right: -5px;
    top: 3px;
}